@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

$padding-small: 20px;
$padding-medium: 40px;
$padding-large: 80px;

body {
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.aws-install {
  margin-top: 40px;
  padding: 20px;

  @media (min-width: $screen-md-min) {
    padding-left: 0;
  }

  li {
    color: $text-color-light;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }
}

.other-downloads {
  color: $link-color;
  margin: $padding-medium 0 120px;

  .footer-links {
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}
