:markdown

  ## Workflow

  - You work on issues tagged with 'frontend' on [CE](https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name=frontend) and [EE](https://gitlab.com/gitlab-org/gitlab-ee/issues?label_name=frontend).
  - The priority of the issues tagged with this label can be found in [the handbook under GitLab Workflow](/handbook/communication/#prioritize).
  - When done with a frontend issue remove the 'frontend' label and add the next [workflow label](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/PROCESS.md#workflow-labels) which is probably the 'Developer' label.
