.contact-sales-container
  %h2
    Get in touch
  %p
    Want to learn more about how GitLab can help you deliver secure applications without sacrificing business velocity? Let’s talk.
  %a.btn.cta-btn.orange.just-commit{ href: "/sales/" }
    Contact sales
